<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        ">


    <!--手动 配置处理器Handle，映射“/firstController”路径的请求 将此路径使用FirstController类的handleRequest方法进行处理-->
    <bean name="/firstController" class="cn.imldy.springmvc.controller.FirstController"/>

    <!--以下三个在Spring4.0之后无需显式配置-->
    <!--1.处理器映射器，将处理器Handle的name作为url(/firstController)进行查找-->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <!--2.处理器适配器，配置对处理器中handleRequeste()方法的调用-->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <!--3.视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

</beans>